In [6]:
import pandas as pd
df=pd.read_csv('movie_genre.csv')
df.head()

,Title,Year,Director,Duration,Rating,Votes,Description,Language,Country,Budget_USD,BoxOffice_USD,Genre,Production_Company,Content_Rating,Lead_Actor,Num_Awards,Critic_Reviews
0,Winds of Fate 4,1980,R. Lee,167,4.1,182425,A touching love story with heartwarming moments.,Spanish,China,39979615,179936008,Romance,DreamWorks,R,Kangana Ranaut,8,229
1,Firestorm 11,2014,S. Chen,166,4.1,449351,A fast-paced thriller with intense action scenes.,Korean,China,116404774,802121619,Action,Netflix,R,Kangana Ranaut,20,466
2,Silent Echo 2,2016,A. Khan,170,4.1,363328,A fast-paced thriller with intense action scenes.,Korean,Japan,166261330,225526871,Action,Pixar,PG,Amitabh Bachchan,16,539
3,City Lights 4,1982,L. Zhang,170,9.9,62371,An emotional journey exploring complex charact...,Japanese,Japan,28861315,69813738,Drama,Netflix,NC-17,Natalie Portman,15,606
4,Broken Truth 1,1990,L. Zhang,91,5.3,4600,An imaginative world filled with magic and won...,Korean,USA,43890403,375136716,Fantasy,Studio Ghibli,PG,Chris Evans,6,330

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               50000 non-null  object
 1   Year                50000 non-null  int64
 2   Director            50000 non-null  object
 3   Duration            50000 non-null  int64
 4   Rating              50000 non-null  float64
 5   Votes               50000 non-null  int64
 6   Description         50000 non-null  object
 7   Language            50000 non-null  object
 8   Country             50000 non-null  object
 9   Budget_USD          50000 non-null  int64
 10  BoxOffice_USD       50000 non-null  int64
 11  Genre               50000 non-null  object
 12  Production_Company  50000 non-null  object
 13  Content_Rating      50000 non-null  object
 14  Lead_Actor          50000 non-null  object
 15  Num_Awards          50000 non-null  int64
 16  Critic_Reviews      50000 non-null  int64
dtypes: float64(1), int64(7), object(9)
memory usage: 6.5+ MB

In [9]:
df['Genre'].value_counts().head()

Genre
Horror      7260
Drama       7187
Romance     7169
Thriller    7118
Action      7107
Name: count, dtype: int64

In [12]:
df = df[['Description', 'Genre']]
df.head()

                                         Description    Genre
0   A touching love story with heartwarming moments.  Romance
1  A fast-paced thriller with intense action scenes.   Action
2  A fast-paced thriller with intense action scenes.   Action
3  An emotional journey exploring complex charact...    Drama
4  An imaginative world filled with magic and won...  Fantasy

In [13]:
df.dropna(inplace=True)
df.isnull().sum()

/tmp/ipython-input-3595608122.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

Description    0
Genre          0
dtype: int64